# OpenFOAM mesh and results
OpenFOAM/constant/polyMesh/
OpenFOAM/processor*/
OpenFOAM/postProcessing/
OpenFOAM/[1-9]*/
OpenFOAM/[1-9][0-9]*/
OpenFOAM/*.foam
OpenFOAM/*.log
OpenFOAM/constant/extendedFeatureEdgeMesh/
OpenFOAM/constant/triSurface/wing.eMesh

# Python
__pycache__/
*.pyc

# System
.DS_Store
